__pycache__
docs/build
dist

.DS_Store
.ipynb_checkpoints
.vscode
.python-version
/.idea/.gitignore
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/trading-strategy.iml
/.idea/vcs.xml

.env