# Make sure we can install Jupyter notebook free environments
name: Standalone install wo/optional deps test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  automated-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Set up Python 3.14
      id: setup-python
      uses: actions/setup-python@v5
      with:
        python-version: "3.14"
    - name: Run test scripts
      run: |
        bash scripts/standalone-test.sh
      env:
        TRADING_STRATEGY_API_KEY: ${{ secrets.TRADING_STRATEGY_API_KEY }}
