name: Standalone script wo/optional deps test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  automated-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Set up Python 3.12
      id: setup-python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"
    - name: Run test scripts
      run: |
        bash scripts/standalone-test.sh
