# Check that the latest PyPi release is kosher

name: Pip installation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check-pip-install:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: "3.14"
    - name: Check pip install from PyPi works
      run: |
        python3 -m venv venv
        source venv/bin/activate
        pip install -U pip
        pip install trading-strategy
